header{
    width: 100%;
    padding: 28px 8%;    /*os 8% é para ser responsivo*/
    position: sticky;
    top: 0;
    background-color: #fff9ea;
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    font-size: 24px;
    color: #e9a209;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a{  /*a classe .active será add no JS depois. Vai servir para quando a gente clicar nos botões(inicio,cardapio e avaliações) tenha uma linha embaixo deles indicando onde estamos navegando.*/
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
}

#mobile_btn{
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px){   /*responsividade*/
    #nav_list, #navbar .btn-default{
        display: none;
    }

    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
    }
}