
/* Foram criados mais de um arquivo.css pelo motivo da responsividade do site.Esse arquivo daqui é o principal, é aquele que independente do aparelho que o site esteja sendo visto vai ter o que estaremos estilizando aqui(ex: botões, etc) */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(header.css);
@import url(home.css);
@import url(menu.css);
@import url(testimonials.css);
@import url(footer.css);

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    /*vai ajudar na nossa responsividade*/
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff9ea;
}

section{
    padding: 28px 8%;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcb45;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: backgorund-color .3s ease;
}

.btn-default:hover{
    background-color: #f8d477;
}

.social-media-buttons{
    display: flex;
    gap: 18px;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    transition: .3s ease;
}

.social-media-buttons a:hover{
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title{
    color: #e9a209;
    font-size: 1.563rem;
}

.section-subtitle{
    font-size: 2.1875rem;
}